@import 'compass';
@import 'component';
@import 'icons/*.png';


// 临时样式
.banner {
	position: relative;
	height: 400px;
	.slider {
		li {
			height: 400px;
			a {
				display: block;
				height: 400px;
				background-size: cover;
			}
		}
	}
	.control {
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
		z-index: 999;
		li {
			@include inline-block;
			width: 10px;
			height: 10px;
			margin: 0 10px;
			cursor: pointer;
			border-radius: 50%;
			text-indent: -9999em;
			background: rgba(200, 200, 200, 0.8);
			&.current {
				background: #fff;
			}
		}
	}
}

.product_section {
	@include pie-clearfix;
	height: 400px;
	border-radius: 8px;
	margin: 20px 0;
	&.banner_section {
		margin: 0;
	}
	&.white {
		background: #fff;
		border: 1px solid #ddd;
		@include box-shadow(1px 1px 1px #ddd);
	}
	&.black {
		background: #000;
		border: 1px solid #000;
		@include box-shadow(1px 1px 1px #222);
	}
	.large_show {
		@include pie-clearfix;
		display: block;
		height: 400px;
	}
	.large_show_pro1 {
		.pro_photo {
			@include transition(all, 0.5s, ease-in);
			float: left;
			display: inline;
			margin: 30px 0 0 80px;
			&:hover {
				@include transform(translateX(10px));
			}
		}
		.show_text {
			float: right;
			display: inline;
			margin: 80px 120px 0 0;
			.title {
				color: #444;
				font-size: 36px;
			}
			.des {
				color: #666;
				font-size: 18px;
				margin-top: 30px;
			}
			.price {
				color: $font_red;
				font-size: 20px;
				font-family: 'arial';
				margin-top: 30px;
				.number {
					font-size: 30px;
				}
			}
		}
	}
	.large_show_pro2 {
		.pro_photo {
			@include transition(all, 0.5s, ease-in);
			float: right;
			display: inline;
			margin: 80px 100px 0 0;
			&:hover {
				@include transform(translateX(-10px));
			}
		}
		.show_text {
			float: left;
			display: inline;
			margin: 100px 0 0 80px;
			.title {
				color: #ccc;
				font-size: 36px;
			}
			.des {
				color: #999;
				font-size: 18px;
				margin-top: 30px;
			}
			.price {
				color: $font_red;
				font-size: 20px;
				font-family: 'arial';
				margin-top: 30px;
				.number {
					font-size: 30px;
				}
			}
		}
	}
	.middle_show {
		float: left;
		display: inline;
		width: 33.3%;
		border-right: 1px solid #ddd;
		&:last-child {
			border-right: none;
		}
		.middle_show_photo {
			display: block;
			text-align: center;
			height: 320px;
			img {
				@include transition(all, 0.5s, ease-in);
				width: 260px;
				height: 260px;
				margin-top: 30px;
				&:hover {
					@include transform(scale(0.9));
				}
			}
		}
		.middle_show_des {
			height: 80px;
			padding: 0 30px;
			@include clearfix;
			.show_info {
				float: left;
				display: inline;
				h3 {
					font-size: 18px;
					height: 30px;
					line-height: 30px;
					a {
						color: #6f4713;
					}
				}
				.info {
					height: 24px;
					line-height: 24px;
					a {
						color: #999;
					}
				}
			}
			.price {
				float: right;
				display: inline;
				color: $font_red;
				font-size: 14px;
				font-family: 'arial';
				.number {
					font-size: 18px;
					font-style: normal;
					margin-left: 4px;
				}
			}
		}

	}
}


// product list
.location {
	margin-top: 20px;
	p {
		font-size: 13px;
		a {
			margin: 0 6px;
			&:hover {
				color: $font_red;
			}
		}
	}
}

































