.product_show {
  -moz-box-shadow: 1px 1px 1px #ddd;
  -webkit-box-shadow: 1px 1px 1px #ddd;
  box-shadow: 1px 1px 1px #ddd;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 30px; }

.product_show_module {
  *zoom: 1;
  padding: 60px 50px 30px 50px; }

.product_show_module:after {
  content: "";
  display: table;
  clear: both; }

.photo_show {
  float: left;
  display: inline;
  width: 500px; }

.photo_show .sliderBox {
  height: 500px; }

.photo_show .sliderBox .slider {
  overflow: hidden;
  *zoom: 1; }

.photo_show .sliderBox img {
  width: 500px;
  height: 500px; }

.photo_show .control {
  height: 64px;
  margin-left: -10px; }

.photo_show .control li {
  float: left;
  display: inline;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  overflow: hidden; }

.photo_show .control li.current {
  border-color: #c00; }

.photo_show .control li img {
  width: 60px;
  height: 60px; }

.pro_info {
  float: right;
  display: inline;
  width: 420px; }

.pro_info .info_item {
  border-bottom: 1px solid #eee; }

.pro_info .info_des {
  padding-bottom: 20px; }

.pro_info .info_des dt {
  color: #333;
  font-size: 28px;
  margin-bottom: 16px; }

.pro_info .info_des dd {
  color: #666;
  font-size: 14px;
  line-height: 24px; }

.pro_info .info_item_price {
  color: #c00;
  font-size: 18px;
  padding: 20px 0;
  text-indent: 6px; }

.pro_info .info_item_price i {
  font-size: 30px;
  font-style: normal;
  margin-left: 5px;
  vertical-align: sub; }

.pro_info .info_item_pur {
  *zoom: 1;
  padding: 20px 0; }

.pro_info .info_item_pur:after {
  content: "";
  display: table;
  clear: both; }

.pro_info .info_item_pur .pur_num {
  float: left;
  display: inline;
  border-radius: 5px;
  border: 1px solid #ccc;
  overflow: hidden; }

.pro_info .info_item_pur .pur_num .num_count {
  float: left;
  display: inline;
  color: #bbb;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background: #eee;
  cursor: pointer; }

.pro_info .info_item_pur .pur_num .num_sub {
  font-size: 26px; }

.pro_info .info_item_pur .pur_num .num {
  float: left;
  display: inline;
  color: #666; }

.pro_info .info_item_pur .pur_num .num input {
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  border: none; }

.pro_info .info_item_pur .purchase {
  float: left;
  display: inline;
  width: 180px;
  margin-left: 40px; }

.pro_info .info_item_pur .purchase:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8; }

.product_des {
  -moz-box-shadow: 1px 1px 1px #ddd;
  -webkit-box-shadow: 1px 1px 1px #ddd;
  box-shadow: 1px 1px 1px #ddd;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 30px 0 60px 0;
  overflow: hidden; }

.product_des .pro_des_head {
  height: 50px;
  line-height: 50px;
  background: #f5f5f5; }

.product_des .pro_des_head h3 {
  color: #333;
  font-size: 20px;
  text-indent: 30px; }

.product_des .pro_des_con img {
  width: 100%; }
